.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
:root{
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form:  #f5f5;
}
.App{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "n s s s s s";
}
.room-list{
  grid-area: r;
  background-color: var(--main-color);
  
}
.message-list{
  grid-area: m;
}
.new-room-form{
  grid-area:n;
}
.send-message-form{
  grid-area:s;
}